# Python (Global catches)
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv/**
**/.venv
**/env/**
**/env
**/venv/**
**/venv
**/venv_importer/**
.env

# VS Code & OS
**/.vscode/**
**/.idea/**
**/.git/**
.gitignore
*.DS_Store

# Data, Caches, & Builds
**/build/**
**/dist/**
*.jpg
*.jpeg
*.png
**/temp/**
**/*.db
**/*.sqlite3