name: Perfume Importer Cron

on:
  schedule:
    - cron: '0 3 * * *' # Se ejecuta todos los días a las 3:00 AM
  workflow_dispatch: # Permite ejecutarlo manualmente desde la web de GitHub

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependencias
        run: |
          pip install -r requirements.importer.txt

      - name: Ejecutar script
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: python importer.py